<header>
    <nav class="navbar navbar-expand-sm d-flex">
        <img class="nav-brand" src="../../assets/shared/logo.svg" alt="Logo">
        <hr />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span style="color: white">
                <i class="bi bi-list" style="font-size: 2em"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <button id="nav-close-btn" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <i class="bi bi-x"></i>
                </button>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/"><span class="nav-ul-number">00</span> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="destination"><span class="nav-ul-number">01</span>
                        Destination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="crew"><span class="nav-ul-number">02</span> Crew</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="technology"><span class="nav-ul-number">03</span>
                        Technology</a>
                </li>
            </ul>
        </div>
    </nav>
</header>