<div id="container">
    <app-header />
    <div id="outer-div">
        <section>
            <h5><span class="fw-bold">01</span> &nbsp;Pick your destination</h5>
            <img [src]="'../' + currentDestination.images.png" [alt]="currentDestination.name" />
        </section>
        <aside>
            <nav class="d-sm-flex">
                <ul>
                    <li *ngFor="let destination of data.destinations">
                        <a (click)="this.currentDestination = destination">
                            <span id="current-destination" *ngIf="destination === currentDestination">
                                {{destination.name}}
                            </span>
                            <span *ngIf="destination !== currentDestination">
                                {{destination.name}}
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>

            <h1>{{ currentDestination.name }}</h1>
            <p class="description p-sm-5 p-md-0">{{ currentDestination.description }}</p>
            <hr />
            <div class="destination-info d-sm-flex">
                <div>
                    <p>AVG. DISTANCE</p>
                    <p>{{ currentDestination.distance }}</p>
                </div>
                <div>
                    <p>EST. TRAVEL TIME</p>
                    <p>{{ currentDestination.travel }}</p>
                </div>
            </div>
        </aside>
    </div>
</div>