<div>
    <app-header />
    <div>
        <section>
            <h5>01 Pick your destination</h5>
            <img src="" alt=""> 
        </section>
        <aside>
            <nav></nav>
            <h1></h1>
            <p></p>
            <hr>
            <hr />
            <div>
                <div>
                    <p></p>
                    <p></p>
                </div>
                <div>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </aside>
    </div>
</div>