div#container {
    background: url('../../assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: var(--white);
    text-align: center;
}

aside {
    padding: 25px;
    text-transform: uppercase;
}

h5 {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.5px;
}

h5 span {
    color: grey;
}

nav {
    margin: 0px 25px;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0
}

nav ul li {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.36px;
}

nav ul li a:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Bellefair', serif;
    font-size: 3.75em;
    padding: 3px 0;
    margin-top: 25px;
}

p.description {
    text-transform: none;
    font-family: 'Barlow', sans-serif;
    line-height: 25px;
    color: #D0D6F9;
}

hr {
    margin: auto;
    margin: 32px 0;
}

img {
    width: 170px;
    margin-top: 25px;
}

#current-destination {
    border-bottom: 3px solid white;
    padding-bottom: 8px;
}

.destination-info {
    justify-content: space-around;
}

.destination-info div {
    margin-bottom: 35px;
}

.destination-info div p:first-child {
    letter-spacing: 2.36px;
    font-size: 14px;
    font-family: 'Barlow Condensed', sans-serif;
}

.destination-info div p:nth-child(2) {
    font-size: 28px;
    font-family: 'Bellefair', serif;
}

@media (min-width:641px) {
    div#container {
        background: url('../../assets/destination/background-destination-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    h5 {
        text-align: left;
        margin-left: 32px;
    }

    nav ul {
        width: 50%;
    }

    #outer-div {
        margin-top: 40px;
    }
}

@media (min-width:769px) {
    div#container {
        background: url('../../assets/destination/background-destination-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    h5 {
        text-align: left;
        font-size: 28px;
        letter-spacing: 4.72px;
        position: absolute;
        top: 10px
    }

    #outer-div {
        display: flex;
        justify-content: space-between;
        padding-left: 163px;
        padding-right: 163px;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative
    }

    img {
        height: 445px;
        width: 445px;
    }

    aside {
        margin-top: 70px;
        text-align: left;
        width: 450px;
    }

    aside nav {
        justify-content: flex-start;
        margin: 0;
    }

    aside nav ul li {
        margin-right: 35px;
    }

    aside div {
        justify-content: flex-start;
    }

    aside div div:first-child {
        margin-right: 79px;
    }
}