/* You can add global styles to this file, and also import other style files */
:root {
    --dark: #0B0D17;
    --light: #D0D6F9;
    --white: #FFFFFF;
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
}