<div id="home-container">
    <header>
        <nav>
            <img src="../../assets/shared/logo.svg" alt="Logo">
            <hr />
            <ul>
                <li><a routerLink="home">00 Home</a></li>
                <li><a routerLink="destination">01 Destination</a></li>
                <li><a routerLink="crew">02 Crew</a></li>
                <li><a routerLink="technology">03 Technology</a></li>
            </ul>
        </nav>
    </header>
    <main class="container d-flex justify-content-between p-5 ">
        <section class="w-50">
            <h5>So, you want to travel to</h5>
            <h1>Space</h1>
            <p>Let’s face it; if you want to go to space, you might as well genuinely go to
                outer space and not hover kind of on the edge of it. Well sit back, and relax
                because we’ll give you a truly out of this world experience!
            </p>
        </section>
        <aside class="align-self-end">
            <button routerLink="destination">Explore</button>
        </aside>
    </main>
</div>